

*
{
    
    padding: 0;
    margin: 0;
}

div
{
    overflow: auto;
}

.container
{
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    border: 0;
}


.col
{
    padding: 0px;
    margin: 0px;
}

#entireThing
{
    /* height:2000px; */
    /* width:100%; */
}

.buttons
{
    height: 50px;
    width: 50px;
    
}

#mukhpathBox
{
    height: 500px;  
    border: 1px solid black;
}

#actualMukhpath
{
    /* margin: auto;
    width: 50%;
    padding-left: 55px;
    padding-top: 10px; */

    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
    
}



.container
{
    border: 0;
}

h1
{
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
}


body
{
    background-color: #F5C9CA;
}



